<h3><{"WIZMOBILE_LANG_GOOGLE_CONTROL"|wiz_constant}></h3>
<div style="margin-left: 0.5em; padding: 1em;">
  <form action="admin.php" method="post">
    <table class="outer" style="margin-bottom: 1em;">
      <tr class="head">
        <th style="width: 24em;"><{"WIZMOBILE_LANG_ITEM"|wiz_constant}></th>
        <th><{"WIZMOBILE_LANG_VALUE"|wiz_constant}></th>
      </tr>
      <{* Google Adsense Mobile *}>
      <tr class="<{cycle values="odd,even"}>">
        <td>
          <div style="font-size: 110%; font-weight: bolder;"><{"WIZMOBILE_LANG_ADSENSE_CODE"|wiz_constant}></div>
        </td>
        <td>
          <textarea name="wma_item[adsense_code]" style="width: 32em; height: 15em;"><{$atypical.adsense_code.wma_value|escape}></textarea>
          <div style="font-size: 90%; font-weight: lighter; margin: 0.5em 0 0 2em;"><{"WIZMOBILE_LANG_ADSENSE_CODE_DESC"|wiz_constant}></div>
        </td>
      </tr>
    </table>
    <div style="text-align: center; width: 100%; margin: auto;">
      <input type="hidden" name="act" value="GoogleSetting" />
      <{wiz_gticket area=$wizmobile_dirname}>
      <input type="submit" value="<{"WIZMOBILE_LANG_UPDATE"|wiz_constant}>" />
    </div>
  </form>
</div>
